.time {
   text-align: center;
   padding: 32px;
   
}

.time__nome {
   font-size: 32px;
   border-bottom: 4px solid ;
   display: inline-block;
   padding-bottom: 8px;

}

.time .colaboradores {
   display: flex;
   justify-content: space-around;
   margin-top: 32px;
   flex-wrap: wrap;
}

.desconhecido {
   margin-top: 20px;
   height: 90px;
   width: 90px;
}
.rodape {
   color: #6278F7;
   font-size: 18px;
   line-height: 22px;
   font-weight: bold;
   margin-bottom: 8px;
}